.header {
  font-size:20px;
  height: 50px;
  .title {
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
}
.social {
  img {
    width: 30px;
    height: 30px;
  }
}
@media  (max-width: 500px) {
  .social {
    @include box($background2,#000);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
}
